body {
    font-family: Arial, sans-serif;
    background-color: #344123; /* Couleur de fond modifiée */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh; /* Utilisé pour centrer le contenu sur toute la page */
}

.quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin-bottom: 40px; /* Ajout d'un écart entre le contenu et le footer */
}


button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover {
    background-color: #45a049;
}

.choice {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.choice:hover {
    background-color: #ddd;
}

.correct {
    background-color: #4CAF50;
}

.incorrect {
    background-color: #f44336;
}

#score-container {
    margin-top: 20px;
    font-size: 1.2em;
}

.titrepage {
    position: relative;
    width: 100%;
    height: 110px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Écart réduit entre le logo et le haut de la page */
}



.titrepage img {
    max-width: 220px; /* Taille réduite du logo */
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px 0; /* Réduit le padding pour moins d'espace vertical */
    margin: 10px 0;  /* Réduit la marge en bas */
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 0.9em;
    text-align: center;
}

/* Media query pour mobile */
@media (max-width: 600px) {
    footer {
        padding: 5px 0; /* Réduit encore plus le padding sur les petits écrans */
        margin: 5px 0;  /* Réduit la marge pour les petits écrans */
        font-size: 0.8em; /* Réduit la taille de la police sur mobile */
    }
}

.feedback {
    margin-top: 15px;
    font-weight: bold;
    font-size: 1em;
}

.feedback.good {
    color: #4CAF50;
}

.feedback.bad {
    color: #f44336;
}
